// GENRE PARTIAL

// CONTENT - GENRE

#issue{
    .top-bar{
        @include top-bar;
        // background-color: $theme;
        margin-bottom: 20px;
        h3{
            @include font($fontSB, 1.4rem, $text-white);
        }
        p{
            @include font($fontM, 1.2rem, $text-white);
        }
        button{
            @include button-primary{
                border-color: $text-white;
            };
        }
    }

    .issue-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap : 10px;

        

        .btn-bar{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap : 12px;

            div{
                display: flex;
                gap : 12px;
                align-items: center;
                justify-content: center;
            }
            button{
                @include button-primary{
                    // padding: 8px 26px;
                    width : 200px;
                    background-color: darken($secondary, 5%);
                    color: $text-black;

                    &:hover {
                        transition: 0.1s;
                        background-color: darken($theme, 5%);
                        color: $text-white;
                    }
                }
            }

        }
        
        .searchbar{
            @include searchbar{};
            background-color: $secondary;
            width : 100%;
            margin-bottom: 10px !important;
            svg{
                width:  32px;
                height: 32px;
            }
            input{
                border : none;
                &:focus{
                    outline : none;
                    border : none;
                }
            }
            padding : 8px 12px;
            border-radius: $radiusT;
        }

        .dynamic-table{
            width : 100%;
            max-height: 400px;
            padding-right: 10px;
            overflow-y: auto;
            .issue-book-table{
                @include table{
                    table{
                        margin-top : 0px !important;
                    }
                    table tbody::before {
                        content: "";
                        display: block;
                        height: 2px !important;
                    }
                    table thead tr th{
                        position : sticky;
                        top : 0;
                        background-color: $secondary !important;
                        @include font($fontSB, 1.2rem, $text-black);
                        padding : 8px 8px;
                    }
                }
                text-align: left;
                width : 100%;
            }

            .issue-member-table{
                display: none;
                @include table{
                    table{
                        margin-top : 0px !important;
                    }
                    table tbody::before {
                        content: "";
                        display: block;
                        height: 2px !important;
                    }
                    table thead tr th{
                        position : sticky;
                        top : 0;
                        background-color: $secondary !important;
                        @include font($fontSB, 1.2rem, $text-black);
                        padding : 8px 8px;
                    }
                }
                text-align: left;
                width : 100%;
            }

            .issue-summary{
                display: none;
                background-color: $secondary;
                border-radius: $radiusT;
                padding : 22px 36px;
                justify-content: space-between;
                align-items: flex-start;
                gap : 20px;
                div{
                    display: flex;
                    flex-direction: column;
                    gap : 6px;
                    img{
                        width : 100px;
                        height : 100px;
                        border-radius: $radiusT;
                        height: auto;
                        object-fit: cover;
                    }
                    h3{
                        @include font($fontSB, 1.2rem, $text-black);
                    }
                    p{
                        @include font($fontM, 1.2rem, $text-black);
                    }
                    button{
                        @include button-secondary;
                        width : 100%;
                    }
                    #resetIssue{
                        background-color: $danger;
                        color: $text-white;

                        &:hover {
                            transition: 0.1s;
                            background-color: darken($theme, 5%);
                            color: $text-white;
                        }
                    }
                }
            }

        }
    }
}

#allIssues{
    display: none;
    margin-top: 10px;
    @include table{
        table{
            margin-top : 0px !important;
        }
        table tbody::before {
            content: "";
            display: block;
            height: 2px !important;
        }
        table thead tr th{
            position : sticky;
            top : 0;
            background-color: $secondary !important;
            @include font($fontSB, 1.2rem, $text-black);
            padding : 8px 8px;
        }
    }
    text-align: left;
    width : 100%;

    .searchbar{
        
        @include searchbar{};
        background-color: $secondary;
        width : 100%;
        margin-bottom: 10px !important;
        svg{
            width:  32px;
            height: 32px;
        }
        input{
            border : none;
            width : 100% !important;
            &:focus{
                outline : none;
                border : none;
            }
        }
        padding : 8px 12px;
        border-radius: $radiusT;
    }
}


.selectedBtn{
    background-color: $theme !important;
    color: $text-white !important;
}


// ISSUE DETAILS 
.issue-details-content{
    display: flex;
    flex-direction: column;
    gap : 20px;

    .top-bar{
        @include top-bar;
        margin-bottom: 20px;
        a{
            display: flex;
            align-items: center;
            gap : 22px;
            text-decoration: none;
            @include font($fontSB, 1.4rem, $text-white);

        }
        
        p{
            @include font($fontM, 1.2rem, $text-white);
        }
        button{
            @include button-primary{
                border-color: $text-white;
            };
        }
    }

    .issue-details-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap : 20px;
        div{
            background-color: $secondary;
            padding : 22px 36px;
            border-radius: $radiusT;
            width : 100%;
            display: flex;
            flex-direction: column;
            gap : 10px;
            img{
                width :100%;
                height : 300px;
                border-radius: $radiusT;
                object-fit: cover;
            }
            h3{
                @include font($fontSB, 1.2rem, $text-black);
            }
            p{
                @include font($fontM, 1.2rem, $text-black);
            }
            a{
                @include button-secondary;
                width : 100%;
                text-align: center;
                text-decoration: none;
            }
            
        }
    }
}